:root {
  --bg: #e0e0e0;
  --r: #ff0000;
  --g: #00ff00;
  --b: #0000ff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color: var(--bg);
  overflow-x: hidden;
}

.viewport {
  display: grid;
  grid-template-rows: 2fr 17fr 1fr;
  grid-template-columns: auto;
  height: 100vh;
  width: 100vw;
}

.header {
  position: static;
  font-size: 7rem;
  padding-bottom: 1em;
  padding-top: 0em;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100vw;
  height: 1em;
  font-family: "Bitcount Single", system-ui;
  font-weight: 700;
}

.main {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  gap: 2rem;
}

.card {
  height:1fr;
  width: minmax(300px, fit-content);
}

.menuCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.heading {
  font-family:"DotGothic16", sans-serif;
  font-weight: 900;
  font-style: bold;
  font-size: 2.5rem;
  margin: 0em 0.25em;
}

p {
  font-family: "Instrument Serif", Serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  max-width: 75ch;
  margin: 0.5em 0.5em;
  text-align: justify;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  margin: 0%;
  text-decoration: none;
  list-style: none;
  line-gap-override: 2em;
}

a {
  text-decoration: underline;
  color: black;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.aboutMe {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  margin: 2em 1em;
}

.aboutMeImg {
  width: 400px;
}

.scrobbleChart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: 1em 1em;
}

.scrobbleChart a {
  font-size: 1.5rem;
}

.scrobbleChart  li {
  margin: 0.5em 0.5em;
}

.scrobbleInfo {
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.footer {
  font-family: "BitCount Single", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content:space-between;
  height: max-content;
}

@media (max-width: 500px) {
  .main {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    gap: 2rem;
  }

  .header {
    font-size: 5rem;
  }

  .menuCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0rem 1rem;
  }

  .aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .aboutMeImg {
    width: 350px;
  }

}